img {
  width: 24px;
}

.Search-bar {
  border: 1px solid rgba(124, 146, 205, 0.7);
  box-sizing: border-box;
  border-radius: 50px;
  width: 450px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search-bar .input {
  height: 21px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #7c92cd;
  width: 350px;
  margin-left: 1rem;
}

.Search-bar img {
  margin-right: 1rem;
}

input {
  transition:all .4s ;
}

input:focus {
  border: none;
  outline: none;
}